<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Found Files</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
        * {
            font-family: 'Roboto', sans-serif;
        }
        .table {
            width: 100%;
            border: none;
            margin-bottom: 20px;
            border-spacing: 0px
        }
        .table thead th {
            font-weight: bold;
            text-align: left;
            border: none;
            padding: 10px 15px;
            background: #d8d8d8;
            font-size: 14px;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
        }
        .table tbody td {
            text-align: left;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            padding: 10px 15px;
            font-size: 14px;
            vertical-align: top;
        }
        .table thead tr th:first-child, .table tbody tr td:first-child {
            border-left: none;
        }
        .table thead tr th:last-child, .table tbody tr td:last-child {
            border-right: none;
        }
        .table tbody tr:nth-child(even){
            background: #f3f3f3;
        }
    </style>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>Hash</th><th>Absolute path</th><th>Name</th><th>Size</th><th>Last modified</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td>{{ row.hash }}</td>
                    <td>{{ row.path }}</td>
                    <td><a href="{{ row.path | get_uri }}">{{ row.name }}</a></td>
                    <td>{{ row.size }}</td>
                    <td>{{ row.modified }}</td>
            {% endfor %}
        </tbody>
    </table>
    <div>
        {% if page|int == 1 %}
            <a href="{{ name }}{{ page|int + 1 }}.html">Next page</a>
        {% else %}
            <a href="{{ name }}{{ page|int - 1 }}.html">Previous page</a>
            <a href="{{ name }}{{ page|int + 1 }}.html">Next page</a>
        {% endif %}
    </div>
</body>
</html>